{% extends 'base.html' %}

{% block title %}
    <title>DELETE CONFIRMATION</title>
{% endblock %}

{% block content %}
<div class ="container jumbotron">

    <form method="post">
        {% csrf_token %}
        <p>Do you really want to delete<span style="color:red;">{{obj.laptop_id}}  {{obj.name}}  {{obj.brand}}</span></p>
        <input type="submit" value="yes" class="btn btn-danger">
        <button class="btn btn-warning"><a href="{% url 'showlap_url' %}">No</a></button>
    </form>

</div>
{% endblock %}